@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* 矢印の見た目の設定と回転の見た目 */
.arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
}

.arrow.open {
    transform: rotate(-45deg);
}

/* アコーディオンメニュー自体の見た目を整える */
/* ①メニューの基準位置を作る */
.accordion-menu {
    position: relative;
    margin-left: auto;
    z-index: 100;
    right: 250px;
    top: 20px;
}

.menu-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.menu-trigger p {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.user-name {
    margin-right: 15px;
}

.header-icon {
    width: 50px;
    height: 50px;
}

.menu-list {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 220px;
    background: white;
    border: 1px solid #ccc;
    z-index: 100;
}

.menu-list li {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.menu-list li a {
    display: block;
    font-size: 16px;
    padding: 15px;
    color: gray;
    text-decoration: none;
}

/* ⑤「:hover」→　マウス乗せた時の色変更 */
.menu-list li a:hover {
    background: #186AC9;
    color: white;
}

/* ログアウトのところがボタンみたいになってるから、リンクっぽく見せる（HOME・プロフィールと統一） */
.menu-list button {
    width: 100%;
    padding: 15px;
    border: none;
    background: white;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

.menu-list button:hover {
    background: #186AC9;
    color: white;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

.post-form {
    display: flex;
    align-items: center;
    padding: 30px;
}

.post-icon {
    width: 50px;
    margin-right: 20px;
}

.post-text {
    flex: 1;
    height: 80px;
    border: none;
    resize: none;
}

.post-button {
    margin-left: 20px;
    border: none;
    background: transparent;
}

.post-btn {
    width: 50px;
}

.error-message {
    color: red;
}

.modal {
    display: none;
}
